/* ----------------------background--------- */

body {
    /* margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
    overflow: auto;
    background: linear-gradient(315deg, rgb(204, 192, 203) 50%, rgba(60,132,206,1) 70%, rgb(188, 213, 212) 80%, rgba(255,25,25,1) 98%);
    animation: gradient 30s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    padding: 100px;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

/* ----------------------------------------------- */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* Se desplaza suavemente por la pagina */
html {
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    font-family: sans-serif;
}
/* ---------estilos nav--------- */
nav{
    width: 100%;
    height: 700px;
    display: flex;
}
ul{
    width: 100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: row;

    align-content: center;
    justify-content: center;
}
ul li{
    list-style:none;
    margin:0 5px;
}

ul li a .fa
{
    font-size:40px;
    color:#333;
    line-height:80px;
    transition: 2.7s;
    padding-right:14px;
}
ul li a span{
    padding:0;
    margin:0;
    position: absolute;
    top:30px;
    color:#333;
    letter-spacing: 4px;
    transition: 0.5s;
}
ul li a{
    text-decoration: none;
    display: absolute;
    display: block;
    width:210px;
    height: 80px;
    background:#fff;
    text-align:left;
    padding-left:20px;
    transform: rotate(-30deg) skew(25deg) translate(0,0);
    transition: 0.5s;
    box-shadow:-20px 20px 10px rgba(0,0,0,0.5);
}
ul li a:before{
    content: '';
    position: absolute;
    top:10px;
    left:-20px;
    height: 100%;
    width:20px;
    background:#b1b1b1;
    transition: 0.5s;
    transform: rotate(0deg) skewY(-45deg) ;
}
ul li a:after{
    content: '';
    position: absolute;
    bottom:-20px;
    left:-10px;
    height: 20px;
    width:100%;
    background:#b1b1b1;
    transform: 0.5s;
    transform: rotate(0deg) skewX(-45deg);
}
/* !No funciona al presionar */
nav li:active {
    transform: translateY(4px); /* Efecto al presionar */
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}
ul li a:hover{
    transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
    box-shadow:-50px 50px 50px rgba(0,0,0,0.5); 
}
ul li:hover .fa{
    color:#fff;
}
ul li:hover a{
    background:#cf4434;
}
ul li:hover a:before{
    background:#c0392b;
}
ul li:hover a:after{
    background:#e74c3c;
}
#sobre-mi{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    align-items: center;
    width: 100%;
    height: 700px;
     
}
#sobre-mi #texto-sobre-mi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 170px;
    padding: 50px;
    border: 2px solid #998989;
    background-color: #d8d0d016;
    border-radius: 8px;
}
#sobre-mi #imagen-sobre-mi{
    background-color: #d7f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    padding: 100px;
    border: 20px solid #000;
    border-radius: 50%;
    
}

/* ---------------animacion nombre--------------- */
.code{
    height: 40px;
    text-shadow: 1px 1px #333 ; 
    letter-spacing: 2px;
    font-weight: 400;
}

.code span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #c9d2e3;
    /* display: inline-block; */
    transition: all 0.5s;
    animation:animate 2s infinite;

}
.code span:nth-child(1){
    animation-delay: 7.0s;
}
.code span:nth-child(2){
    animation-delay: 9.0s;
}
.code span:nth-child(3){
    animation-delay: 12.0s;
}.code span:nth-child(4){
    animation-delay: 0.4s;
}
.code span:nth-child(5){
    animation-delay: 0.5s;
}
.code span:nth-child(6){
    animation-delay: 0.6s;
}
.code span:nth-child(7){
    animation-delay: 0.7s;
}
.code span:nth-child(8){
    animation-delay: 0.8s;
}
.code span:nth-child(9){
    animation-delay: 0.9s;
}
.code span:nth-child(10){
    animation-delay: 0.10s;
}
.code span:nth-child(11){
    animation-delay: 0.11s;
}
.code span:nth-child(12){
    animation-delay: 0.12s;

}

@keyframes animate{
    0%{
        color: #fcfcfc;
        transform: translateY(0);
        margin-left: 0;
    
    }
    25%{
        /* color: #1aecbb; */
        transform: translateY(-15);
        margin-left: 10px;
    }
    100%{
        color: #000000;
        transform: translateY(0);
        margin-left: 0;
        
    }

}

/* ----------------tarjetas--------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.tarjetas{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tarjetas .glass{
    position: relative;
    width: 200px;
    height: 240px;
    background: linear-gradient(#fff2,transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25 25px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 10px;
    margin: 0 -45px;
    transform: rotate(calc(var(--r) * 1deg));
}
.tarjetas:hover .glass{
    transform: rotate(0deg);
    margin: 0 20px;
}
.tarjetas .glass::before{
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    
}
.tarjetas .glass i{
    color: #fff;
    font-size: 4em;
}